<section>
  <h1 class="m-5 display-3 text-decoration-underline">Proyectos</h1>
    <div class="resume-section-content row justify-content-center m-0">
     
        <div class="card col-12 col-lg-6 mb-5 border border-primary m-5" style="width: 20rem; height: 25rem;">
            <img src="../../../assets/glasir.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Glasir Vitrofusión</h5>
              <p class="card-text">Portafolio de artesanías con datos de contacto y formularios de pedidos</p>
              <a href="https://galvann.github.io/glasir/" target="_blank" class="btn btn-primary">Ir a la página</a>
            </div>
        </div>
        
        <div class="card col-12 col-lg-6 ms-lg-5 border border-primary m-5" style="width: 20rem; height: 25rem;">
            <img src="../../../assets/lomito.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Trabajo práctico Curso FrontEnd Portrero Digital</h5>
              <p class="card-text">Práctica de HTML, CSS, Javascript, Bootstrap</p>
              <a href="https://galvann.github.io/EDLP_trabajopractico8/" target="_blank" class="btn btn-primary">Ir a la página</a>
            </div>
        </div>

        <div class="card col-12 col-lg-6 ms-lg-5 border border-primary m-5" style="width: 20rem; height: 25rem;">
            <img src="../../../assets/lomito.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Trabajo práctico Curso FrontEnd Portrero Digital</h5>
              <p class="card-text">Práctica de HTML, CSS, Javascript, Bootstrap</p>
              <a href="https://galvann.github.io/EDLP_trabajopractico8/" target="_blank" class="btn btn-primary">Ir a la página</a>
            </div>
        </div>
    </div>
</section>